.TodoContainer {
  width: 700px;
  height: 600px;
  padding: 40px 20px 20px 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(12, 1fr);
  gap: 0px 0px;
  grid-template-areas:
    "TypeTask"
    "Todo"
    "Todo"
    "Todo"
    "Todo"
    "Todo"
    "Todo"
    "Todo"
    "Todo"
    "Todo"
    "CreateContainer"
    "CreateContainer";
  background-color: #7e57c2;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.TypeTask {
  display: grid;
  margin: 0 30px;
  padding: 0 30px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "upcoming finished";
  grid-area: TypeTask;
  text-align: center;
}

.upcoming {
  grid-area: upcoming;
}
.finished {
  grid-area: finished;
}

.CreateContainer {
  grid-area: CreateContainer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CreateContainer button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  color: #7e57c2;
  background: #ede7f6;
}

.CreateContainer button:hover {
  background: #d2b4de;
}

.CreateContainer button:active {
  transition: 0.3s all;
  transform: translateZ(15px);
  border: 1px solid transparent;
  opacity: 0.8;
}

.Todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
  overflow-y: auto;
  grid-area: Todo;
}

.NoTodo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: Todo;
}

@media screen and (max-width: 400px) {
  .TodoContainer {
    width: 95%;
    height: 90vh;
    border-radius: 0px;
  }
}
